body {
  background:  rgba(93, 93, 116, 1);
  background: radial-gradient(
    circle,
    rgb(236, 248, 73) 0%,
    rgb(244, 16, 119) 0%,
    rgb(241, 235, 148) 100%
  );
}


.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}